# Enable Rewrite Engine
RewriteEngine On

# Set the base directory
RewriteBase /

# Redirect all requests that are not actual files or directories to /index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /index.html [L,QSA]
